<!DOCTYPE html>
<div class="content">
	<h1>Ordenamientos</h1>
	<h2> Ejecutando el ordenamiento </h2>
	<p>
		En esta sección podrás ejecutar los diferentes ordenamientos existentes en FuzzyDB: el ordenamiento basado en la
		<strong>Integral de Sugeno</strong>, el ordenamiento basado en la <strong>integral de Choquet</strong> y el ordenamiento basado en 
		el <strong>Centroide y la integral de Riemman</strong>.
		Sencillamente selecciona según cuál ordenamiento deseas ordenar!
	</p>
	<div class="panel panel-default" style="margin-left: 25px; margin-right: 25px;">
		<div class="panel-body">
			<%= form_tag(queryBuilderOrdering_path, method:"get", multipart: true, :class => "form-inline") do %>
				<p class="console">
					SELECT codigo_pokedex_nacional, nombre, poder
					<!-- < % = select_tag(:select , options_for_select({"Codigo Pokedex Nacional" => "codigo_pokedex_nacional", "codigo_pokedex_nacional" => "codigo_pokedex_nacional"}), { :class => "form-control"}) %> -->
				</p>
				<p class="console">
					FROM pokemon 
				</p> 
				<p class="console">
					ORDER BY poder 
					<%= select_tag(:order , options_for_select({"ASC" => "ASC", "DESC" => "DESC"}), { :class => "form-control"}) %>
					USING
					<%= select_tag(:using , options_for_select({"SUGENO" => "SUGENO", "CHOQUET" => "CHOQUET", "CENTROID" => "CENTROID"}), { :class => "form-control"}) %>

					<%= submit_tag("Ejecutar Consulta", {:class => "btn btn-success"}) %>
				</p>
			<%end%>

		</div>
	</div>

	<% if flash[:dataQ] == 'complete' %>
		<table class="table table-hover">                         
			<h2> Resultados - Order By: <%= flash[:order] %> - Using: <%= flash[:using]%> </h2>
			<thead>		
				<tr>                          
					<th>Codigo Pokedex</th>
					<th>Nombre</th>
					<th>Poder Base Estimado</th>
				</tr>
			</thead>
			<tbody>				
				<% @data.each do |row| %>
				<tr>
					<td><%= row.fetch("codigo_pokedex_nacional") %></td>
					<td><%= row.fetch("nombre") %></td>
					<td><%= row.fetch("poder_base_estimado") %></td>
				</tr>
				<% end %> 
			</tbody>		
		</table>  
	<%end%>
</div>