<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>

		<script type="text/javascript" src="js/fuzzy.js"></script>
		<script src="js/jquery-2.1.1.min.js"></script>
	</head>
	<body>

		<div class="header">
			<div class="brand">
				<%= image_tag("logo_mascota.png", height: "70") %>
			</div>
			<div class="menu">
				<ul>
				  <li><%= link_to "FuzzyDB", root_path %></li>				  
				  <li><%= link_to "Manual", manual_path %></li>
				  <li>
				  	<a href="ordenamientos.html">
				  		<span> Ordenamientos<span> 
				  		<span class="label label-warning">New</span>
				  	</a>
				  </li> 
				  <li>
				  	<a href="consola.html">
				  		<span> Constantes<span> 
				  		<span class="label label-warning">New</span>
				  	</a>
				  </li>
				</ul>
			</div>
		</div>
		<div class="blue-band"></div>
		<div class="content">
			<%= image_tag("fuzzydoDB.png", height: "70") %>
			<h2>Implementación de Datos Difusos Tipo II</h2>
		</div>
		<footer>
			<table align="center">
				<tr>
					<td align="center" style="padding-bottom: 10px;">
						<%= image_tag("cebolla.gif", height: "40") %>						
					</td>
					<td style="padding-left: 10px;">
						<p>
							<strong>FuzzyDB</strong> <br>
							Desarrollo de la extensión de datos difusos Tipo II <br>
							Proyecto desarrollado por: Stephanie Alibrandi, José Delgado y José Figueredo.
						</p>
					</td>
				</tr>
			</table>
		</footer>
	</body>
</html>