<!DOCTYPE html>

	<%= javascript_include_tag 'fuzzy.js' %>
	<%= javascript_include_tag 'google-charts.js' %>	

<div class="content">
	<h1>Constantes</h1>
	<p>
		Aquí podrás crear constantes difusas!
	</p>
	<div style="margin-top: 20px;">
		<table style="margin: auto;">
			<tbody>
				<tr>
					<td style="padding: 15px 15px 15px 15px;">
						<label style="margin: auto;">
							Nombre:
						</label>
					</td>
					<td style="padding: 15px 15px 15px 15px;" colspan="2">
						<input class="form-control" id="name" name="name" style="width: 100%;" type="text">
					</td>
				</tr>
				<tr>
					<td style="padding: 0 15px 0 15px;">
						<strong>Tipo:</strong>
					</td>
					<td style="padding: 0 15px 0 15px;">
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="trapezoide" onclick="trapezoid()" checked>
						Trapezoidal
					</td>
					<td style="padding: 0 15px 0 15px;">
						<input type="radio" name="optionsRadios" id="optionsRadios1" value="extension" onclick="byExtension()">
						Por extensión
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="trapezoid">
		<div style="width: 100%; height: 60px;">
			<form class="form-group" role="form">
				<div class="col-xs-2" style="width: 100%;">
					<table style="margin: auto; margin-bottom: 30px;">
						<tbody>
							<tr>
								<td>
									<input class="form-control trapezoid-element" id="x1" name="x1" onchange="changeTrapezoid(0)" placeholder="x1" type="text">
								</td>
								<td>
									<input class="form-control trapezoid-element" id="x2" name="x2" onchange="changeTrapezoid(1)" placeholder="x2" type="text">
								</td>
								<td>
									<input class="form-control trapezoid-element" id="x3" name="x3" onchange="changeTrapezoid(2)" placeholder="x3" type="text">
								</td>
								<td>
									<input class="form-control trapezoid-element" id="x4" name="x4" onchange="changeTrapezoid(3)" placeholder="x4" type="text">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</form>
		</div>
<%= javascript_tag do %>
		google.load("visualization", "1", {packages:["corechart"]});
		google.setOnLoadCallback(draw_trapezoid);
		function draw_trapezoid() {
			var data = google.visualization.arrayToDataTable(trapezoid_images);

			var options = {
				'width':400,
				'height':80,
				'legend': 'none',
				'margin': 'auto',
				hAxis: { ticks: trapezoid_ticks}
			};

			var chart = new google.visualization.LineChart(document.getElementById('grafico-trapecio'));

			chart.draw(data, options);
		}
<% end %>
		<div id="grafico-trapecio" style="margin-left: 200px; margin-right:200px;"></div>
	</div>
	<div id="by-extension" style="display: none;">
		<form class="form-group" role="form">
			<div class="col-xs-2" style="width: 100%; padding-left: 0px;">
				<table id="extension-elements">
					<tbody>
						<tr>
							<td style="padding-bottom: 20px;">
								<p>
									<strong>valor:</strong>
								</p>
								<p>
									<strong>grado:</strong>
								</p>
							</td>
							<td id="extension_1">
								<input type="text" class="form-control by-extension-element" placeholder="v" id="v1" onchange="changeByExtension(1)">
								<input type="text" class="form-control by-extension-element" placeholder="g" id="p1" onchange="changeByExtension(1)">
								<button type="button" class="btn btn-default btn-xs" style="width: 40px;" onclick="removeByExtension('1')">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</form>
		<table style="margin:auto; margin-bottom: 30px;">
			<tbody>
				<tr>
					<td>
						Agrega otro punto
						<button type="button" class="btn btn-success btn-xs" onclick="addByExtension()">
							<span class="glyphicon glyphicon-plus white"></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
<%= javascript_tag do %>
		google.load("visualization", "1", {packages:["corechart"]});
		google.setOnLoadCallback(draw_extension);

		function draw_extension() {
			var data = google.visualization.arrayToDataTable(extension_images);
			var options = {
				legend: 'none',
				hAxis: {ticks: extension_ticks}
			};

			var chart = new google.visualization.ScatterChart(document.getElementById('grafico-extension'));

			chart.draw(data, options);
		}
<% end %>
		<div id="grafico-extension" style="margin-left: 200px; margin-right:200px;"></div>
	</div>
	<table style="margin:auto;">
		<tbody>
			<tr>
				<td style="padding: 5px;">
					
					<button type="button" id='bt1' class="btn btn-info" onclick = sentByTrap()>
						Crear constante
					</button>
				</td>
				<td style="padding: 5px;">
					<!-- <button type="button" class="btn btn-primary">
						Listar constantes
					</button> -->
					<%= button_to "Listar Constantes", {:controller => :constants, :action => :listarConst}, :class => "btn btn-primary", :method => :get %>
				</td>
			</tr>
		</tbody>
	</table>

	<% if flash[:constantsQ] == 'complete' %>
		<table class="table table-hover">                         
			<thead>		
				<tr>                          
					<th>Nombre</th>
					<th>Valor</th>
				</tr>
			</thead>
			<tbody>				
				<% @data.each do |row| %>
				<tr>
					<td><%= row.fetch("constant_name").sub!("-#{session[:ident]}","") %></td>
					<td><%= row.fetch("value") %></td>
				</tr>
				<% end %> 
			</tbody>		
		</table>  
	<%end%>




</div>

