<!DOCTYPE html>
<html>
<head>
	<title>fuzzydoDB - Tipo 2</title>
	<meta charset="UTF-8">
	<%= stylesheet_link_tag 'bootstrap.css' %>
	<%= stylesheet_link_tag 'style.css' %>
	<%= javascript_include_tag 'fuzzy.js' %>
	<%= javascript_include_tag 'jquery-2.1.1.min.js' %>
	<%= javascript_include_tag 'google-charts.js' %>	
	<%= csrf_meta_tag %>
</head>





<body>
	<div class="blue-band"></div>
	<div class="header">
		<div class="brand">
			<%= image_tag("logo_mascota.png", height: "70") %>
		</div>
		<div class="menu">
			<ul>
				<li><%= link_to "fuzzydoDB", root_path %></li>				  
				<li><%= link_to "Manual", manual_path %></li>
				<li><%= link_to ordering_path do %>
					Ordenamientos
					<span class="label label-warning">New</span>
					<% end %>
				</li>
				<li><%= link_to constants_path do %>
					Constantes
					<span class="label label-warning">New</span>
					<% end %>
				</li>
			</ul>
		</div>
	</div>


	<%= yield %>


	<footer>
		<table align="center">
			<tr>
				<td align="center" style="padding-bottom: 10px;">
					<%= image_tag("cebolla.gif", height: "40") %>			
				</td>
				<td style="padding-left: 10px;">
					<p>
						<strong>FuzzyDB</strong> <br>
						Desarrollo de la extensión de datos difusos Tipo II <br>
						Proyecto desarrollado por: Stephanie Alibrandi, José Delgado y José Figueredo.
					</p>
				</td>
			</tr>
		</table>
	</footer>

</body>
</html>
